- content_for(:description, "Home page of my blog")
- content_for(:keywords, "Home, blog")
h3 = t(:welcome_on_site)
p.alert.alert-primary #{t("site_v")} #{session[:times_here]} #{t("times")}
a href="home/about" = t(:about_link)

= render "components/page/page" do
  p Hello from our first component
